<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                {% include 'twig/logo.svg.twig' with {logo_id: 'header-logo'} only %}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Getting started</a></li>
                <li><a href="/pages.html">Pages</a></li>
                <li><a href="/data.html">Data</a></li>
                <li><a href="/cookbook.html">Cookbook</a></li>
            </ul>
        </div>
    </div>
</nav>
<main>
{% block body %}{% endblock %}
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="{{ site.github.url }}">
                    {% include 'twig/svg/octocat.svg.twig' %}
                    GitHub
                </a>
            </div>
            <div class="col-sm-6 text-right">
                Made with {% include 'twig/logo.svg.twig' with {logo_id: 'footer-logo'} only %}
            </div>
        </div>
    </div>
</footer>
</body>
</html>
