{# meta
generate: true
#}

{% extends 'twig/base.html.twig' %}

{% block body %}
<section id="intro">
<div class="container">
<h1>{{ site.title }}</h1>
    <p>Sw:ag is an easy to use static website generator.</p>
</div>
</section>

<section id="structure">
<div class="container">
    {{ index.structure|raw }}
</div>
</section>

<section id="pages">
<div class="container">
    {{ index.pages|raw }}
</div>
</section>

<section id="data">
<div class="container">
    {{ index.data|raw }}
</div>
</section>
{% endblock %}
